@font-face {
font-family: "PT Sans";
font-style: normal;
font-weight: 400;
src: url("../fonts/ptsans-400.woff2") format("woff2");
font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.header {
  color: #000000;
  background-color: #ffffff;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.welcome {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/background/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.five-reason-list {
  text-align: center;
  font-family: inherit;
}

.reason-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-family: inherit;
}

.reason-item {
  background-color: #82B3D3;
}

.reason-subtitle-list-grey {
  background-color: rgba(131, 179, 211, 0.12);
}

.reason-inside-list-white {
  background-color: #ffffff;
}

.reason-inside-list-dark-grey {
  background: rgba(131, 179, 211, 0.2);
}

.reason-subtitle-header {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-family: inherit;
}

.interesting {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  font-family: inherit;
}

.interestingsearch {
  text-align: center;
  background-color: #ffffff;
}


.button-hotel {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  font-family: inherit;
}

.background-newsletter  {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/background/background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.button-newsletter {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
  font-family: inherit;
}

.newsletter-form {
  text-align: center;
}

.page-footer {
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.page-footer a {
  color: #000000;
}

.phone-number {
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  font-family: inherit;
}

.form-title-search {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  font-family: inherit;
}

.search-options {
  font-size: 20px;
  line-height: 26px;
  align-items: center;
  text-transform: capitalize;
  color: #000000;
  font-family: inherit;
}

.value {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  color: #000000;
  background: #F2F2F2;
  font-family: inherit;
}

.searchbutton {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
  font-family: inherit;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  text-transform: uppercase;
  font-family: inherit;
}

.filter-title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  color: #ffffff;
  text-transform: capitalize;
  font-family: inherit;
}

.control-label {
  font-weight: 400;
}

.select-control {
  color: #ffffff;
  background-color: #000000;
}

.hotel-card {
  background-color: #ffffff;
}

.hotels-link {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  background-color: #ffffff;
  font-family: inherit;
}

.buttonapply {
  font-family: "PT Sans";
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
  font-family: inherit;
}

.buttonreset {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-align: center;
  font-family: inherit;
}

.hotel-card-link {
  font-family: "PT Sans";
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  font-family: inherit;
}

.hotel-card-button {
  font-family: "PT Sans";
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
  font-family: inherit;
}

.hotel-card-green-button {
  font-family: "PT Sans";
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #7DB54F;
  text-decoration: none;
  text-transform: uppercase;
  font-family: inherit;
}

.hotel-card-raiting-button {
  font-family: "PT Sans";
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  background-color: #F2F2F2;
  text-decoration: none;
  text-transform: uppercase;
  font-family: inherit;
}

.product-card-title {
  font-weight: 700;
  color: #000000;
  font-family: inherit;
}

.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  font-family: inherit;
}

.pagination {
  background-color: #ffffff;
}

.pagination-link {
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  line-height: 36px;
  font-weight: 700;
  font-family: inherit;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}


