@font-face {
font-family: "PT Sans";
font-style: normal;
font-weight: 400;
src: url("../fonts/ptsans-400.woff2") format("woff2");
font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
}

input, select, button {font-family: inherit}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
display: flex;
flex-direction: column;
min-height: 100vh;
margin: 0 auto;
width: 1200px;
background-color: #ffffff;
}

.header {
  color: #000000;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 430px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
}

.navigation-user .navigation-link {
  min-width: 42px;
  min-height: 66px;
}

.user-navigation {
  text-decoration: none;
}

.navigation-link {
  display: block;
  padding: 20px 19px;
  font-family: "PT Sans", sans-serif;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.main-container {
  flex-grow: 1;
  padding-top: 51px;
  padding-bottom: 83px;
}

.logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 83px;
}

.welcome {
  color: #000000;
  background-color: #82B3D3;
  background-image: url("../images/background/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin-bottom: 145px;
}

.main-title {
  margin-bottom: 31px;
}

.main-description {
  margin-bottom: 90px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-family: "PT Sans";
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  list-style-type: none;
}

.advantages-image {
  display: block;
}

.advantages-item {
  outline: 3px solid #ff000088;
  outline-offset: -3px;
  width: 33.33%;
}

.advantages-item-town {
  width: 100%;
}

.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  padding-top: 92px;
  padding-bottom: 30px;
}

.advantages-subtitle-header {
  padding-top: 30px;
  padding-bottom: 30px;

}

.advantages-item-food {
  background-color: #ffffff;
}

.advantages-item-housing {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item-souvenirs {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-devil {
  background-color: #82B3D3;
  width: 100%;
}

.advantages-item-close {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item-road {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-item-tourists {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-text {
  margin: 0;
}

.advantages-subtitle-text {
  margin: 0;
}

.reason-subtitle-header {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.interesting {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 29px;
  padding-top: 91px;
}

.date {
padding-bottom: 56px;
}

.interestingsearch {
  text-align: center;
  background-color: #ffffff;
}


.button-hotel {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 93px;
}

.subscribe  {
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #000000;
  background-color: #ffffff;
}

.subscribe-bright {
  color: #ffffff;
  background-color: #82B3D3;
  background-image: url("../images/background/background.jpg");
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
}

.subscribe-form {
  text-align: center;
  padding-bottom: 94px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 47px;
  height: 40px;
}

.footer-logo {
  width: 115px;
  margin-left: 10px;
}

.page-footer {
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  display: flex;
  margin: 0 auto;
  flex: 0 0 auto;
}

.page-footer a {
  color: #000000;
}

.phone-number {
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.infrastructure-filter-group {
  display: flex;
}

.appointment-form {
  display: grid;
}

.form-title-search {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.search-options {
  font-size: 20px;
  line-height: 26px;
  align-items: center;
  text-transform: capitalize;
  color: #000000;
}

.value {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  color: #000000;
  background: #F2F2F2;
}

.searchbutton {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
}

.inner-header-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 60px;
  line-height: 78px;
  text-transform: uppercase;
}

.site-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  color: #ffffff;
  list-style-type: none;
}

.filter-title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  color: #ffffff;
  text-transform: capitalize;
}

.control-label {
  font-weight: 400;
}

.select-control {
  display: flex;
  margin-bottom: 50px;
  padding: 56px;
  color: #000000;
  background-color: #ffffff;

}

.first-button {
  width: 48px;
  height: 48px;
}

.hotel-card {
  background-color: #ffffff;
}

.infrastructure-filter-item {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.hotel-list {
  display: flex;
  width: 340px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hotels-link {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.buttonapply {
  font-family: "PT Sans";
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
}

.buttonreset {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-align: center;
  background: rgba(0, 0, 0, 0);
}

.hotel-card-link {
  font-family: "PT Sans";
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.hotel-button {
  font-family: "PT Sans";
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
}

.hotel-button-active {
  background-color: #7DB54F;
}

.hotel-card-raiting-button {
  font-family: "PT Sans";
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  background-color: #F2F2F2;
  text-decoration: none;
  text-transform: uppercase;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-container {
  display: flex;
  padding: 25px;
  background-color: #ffffff;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 96px 25px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
}

.subscribe-title {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding-top: 94px;
  padding-bottom: 29px;
}

.pagination-link {
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  line-height: 36px;
  font-weight: 700;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.background {
  color: #ffffff;
  background-image: url("../images/background/filter-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #82B3D3;
}


